<!DOCTYPE html>
<html>

<!-- HEAD -->
  <head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script type = "text/javascript">
      function login() {
        var button = document.getElementById('login')
        window.open ("https://api.singly.com/oauth/authorize?client_id=176be91da9c1b06fa18ce0ec18241419&service=facebook&redirect_uri=http://localhost:9000%2Fauthorized.html&scope=email&response_type=token","Login","menubar=1,resizable=1,width=700,height=500");
      }


    </script>
    <script type='text/javascript' src='https://static.firebase.com/v0/firebase.js'></script>
    <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?&sensor=false&libraries=visualization">
    </script> 
    <script src="/public/javascripts/maps.js"></script>
    <script src="/public/javascripts/form.js"></script>

    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Google Maps init -->
    <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?&sensor=false&libraries=visualization">
    </script>    

    <!-- Firebase init -->
    <script type='text/javascript' src='https://static.firebase.com/v0/firebase.js'></script>
    <script src="/public/javascripts/maps.js"></script>

    <!-- Additional CSS -->
    <title>Tour.dj</title>
    <meta name="description" content="Realtime tours map">
    <meta name="author" content="AngelHack 2012">

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>



  </head>
  
  <!-- BODY -->
  <body>

    <!-- Navbar -->
    <div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/Home" style="margin-left: 30px"><b>Tour.dj</b></a>
          <div class="nav-collapse">
            <ul class="nav">
               <li class="active"><a href="/">Home</a></li>
               <li><a href="/About">About</a></li>
            </ul>
            
            <div id="referrerdiv" myreferrer='${referrer}' class="navbar-search facebook pull-right">

                <a style="margin-right: 100px; width: 80px" class="btn btn-warning btntext btnmarg" href="javascript:login()" id="login"></i>Login</a>

            </div>
         </div>    

        </div>
      </div>
    </div>


      <!-- Input Fields -->
      <div class="container-fluid" style="margin-top:50px">
        <div class="row-fluid">
          <a href="/"> 
          <div class="span2" style="height:133px; border:1px solid #000; margin-top:15px">
            <!-- Left Panel-->
            <center>
            <p style="margin-top:10px">Add photo</p>
            </center>
          </div>
        </a>
          <div class="span9" style="float:right;margin-top:15px">
            <!-- Right panel-->

            <!-- name -->
            <blockquote>
              <p><h3>*Name </h3></p>
            </blockquote>
            
            <input id="tour-name" class="input-block-level" type="text" placeholder="Input Tour Name">

            <!-- start time -->
            <blockquote>
              <p><h3>*Choose start time: </h3></p>
            </blockquote>

            <select id="tour-start-time" style="float-left">
              <option>30 min from now/option>
              <option>1 hr from now</option>
              <option>2 hrs from now</option>
              <option>3 hrs from now</option>
              <option>5 hrs from now</option>
            </select>


          </div>

          <!-- Tour Description -->

          <div class="span12" style="align:center; margin-top: 20px">
            <blockquote>
              <p><h3>* Tour Description </h3></p>
            </blockquote>
            <textarea id="tour-description" rows="3" style="width:inherit; margin-right: 200px"></textarea>
          </div>

          <!-- Upload Audio -->

          <div id="tour-audio" class="span12" style="align:center; margin-top: 20px">
            <blockquote>
              <p><h3>Audio Description </h3></p>
            </blockquote>
            <a style="margin-right: 100px; width: 80px" class="btn btn-primary btntext btnmarg disabled" href="#" id="audio-upload"></i>Upload File</a>
          </div>

          <!-- Upload Video -->

          <div id="tour-video" class="span12" style="align:center; margin-top: 20px">
            <blockquote>
              <p><h3>Video Description </h3></p>
            </blockquote>
            <input class="input-block-level" type="text" placeholder="Paste Youtube Link">
          </div>

           <!-- Submit Button -->
          <div id="tour-submit" class="span12" style="float:center; margin-top: 20px">
            <a style="margin-right: 100px; width: 80px; float:right" class="btn btn-warning btntext btnmarg disabled" href="#" id="audio-upload" onclick="submit()">SUBMIT THE TOUR!</a>
          </div>

        </div>
      </div>
      <!-- Footer  -->
      <div class="copyright" align="center">&copy; 2012 Angel Hack &#183; <font color=grey><a href="https://sf.angelhack.com"><u>link</u></a></font> 
      </div>
    
  </body>
</html>