<!DOCTYPE html>
<html>

<!-- HEAD -->
  <head>
    <script src="http://code.jquery.com/jquery-1.4.2.min.js"></script>
    <script src="/public/javascripts/jquery.cookie.js"></script>
    <script src="/public/javascripts/authenticate.js"></script>


    <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />

    <!-- Map Canvas css -->
    <style type="text/css">
      html { height: 100% }
      body { height: 100%; margin: 0; padding: 0 }
      #map_canvas { height: 100% }
    </style>
    
    <!-- Google Maps init -->
    <script type="text/javascript"
       src="https://maps.googleapis.com/maps/api/js?&sensor=false&libraries=visualization">
    </script>    

    <!-- Firebase init -->
    <script type='text/javascript' src='https://static.firebase.com/v0/firebase.js'></script>
    <script src="/public/javascripts/maps.js"></script>

    <!-- Additional CSS -->
    <title>Tour.dj</title>
    <meta name="description" content="Realtime tours map">
    <meta name="author" content="Science HackDay 2012">

    <link rel="stylesheet" type="text/css" href="/public/stylesheets/bootstrap.css" />
    <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Ubuntu' rel='stylesheet' type='text/css'>



  </head>
  
  <!-- BODY -->
  <body onload="initialize()">

    <!-- Navbar -->
    <div class="navbar navbar-fixed-top .navbar-inverse">
      <div class="navbar-inner">
        <div class="container">
          <a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </a>
          <a class="brand" href="/Home" style="margin-left: 30px"><b>Tour.dj</b></a>
          <div class="nav-collapse">
            <ul class="nav gatext">
               <li class="active"><a href="/">Home</a></li>
               <li class="dropdown">
                <a class="dropdown-toggle"
                   data-toggle="dropdown"
                   href="#">
                    Filter
                  <b class="caret"></b>
                  </a>
                  <ul class="dropdown-menu">
                    <!-- links -->
                    <li> <a id="by-start-time" href="/">Start time</a> </li>
                    <li> <a id="by-theme" href="/">Theme</a> </li>
                    <li class="dropdown-submenu">
                        <a tabindex="-1" href="#">By Price</a>
                        <ul class="dropdown-menu">
                          <li> <a id="by-theme" href="/">Inexpensive</a> </li>
                          <li> <a id="by-theme" href="/">Expensive</a> </li>
                        </ul>
                    </li>
                    <li> <a id="by-price">href="/">Price</a> </li>

                  </ul>
              </li>
            </ul>
            
            <div id="referrerdiv" myreferrer='${referrer}' class="navbar-search facebook pull-right">              

                <!-- <a style="margin-right: 10px; width: 80px" class="btn btn-yellow btntext btnmarg" href="#" id="signup"></i>Sign Up</a> -->
                <a style="margin-right: 100px; width: 80px" class="btn btn-warning btntext btnmarg" href= "https://api.singly.com/oauth/authorize?client_id=176be91da9c1b06fa18ce0ec18241419&service=facebook&redirect_uri=http://localhost:9000%2Fdrop&scope=email&response_type=token" id="login"><b>Login</b></a>

            </div>
         </div>
         


        </div>
      </div>

    </div>


      <!-- The Maps -->
      <div id="map_canvas" style="width:100%">
      </div>

      <!-- Footer  -->
      <div class="copyright" align="center">&copy; 2012 Angel Hack &#183; <font color=grey><a href="https://sf.angelhack.com"><u>link</u></a></font> 
      </div>



      <!-- Bootstrap Javascripts -->

      <script src="/public/javascripts/bootstrap-transition.js"></script>
      <script src="/public/javascripts/bootstrap-alert.js"></script>
      <script src="/public/javascripts/bootstrap-modal.js"></script>
      <script src="/public/javascripts/bootstrap-dropdown.js"></script>
      <script src="/public/javascripts/bootstrap-scrollspy.js"></script>
      <script src="/public/javascripts/bootstrap-tab.js"></script>
      <script src="/public/javascripts/bootstrap-tooltip.js"></script>
      <script src="/public/javascripts/bootstrap-popover.js"></script>
      <script src="/public/javascripts/bootstrap-button.js"></script>
      <script src="/public/javascripts/bootstrap-collapse.js"></script>
      <script src="/public/javascripts/bootstrap-carousel.js"></script>
      <script src="/public/javascripts/bootstrap-typeahead.js"></script>
      
  </body>
</html>